# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
.coverage

# SQLite database
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Local configuration files
*.local
